.wrapper {
  width: 100%;
  height: 100vh;
  background: white;
  position: relative;
  overflow: hidden;
}
#back-effect {
  background: black;
  position: absolute;
  left: 0;
  top: calc(100vh - 20vw);
  width: 100%;
  height: 100vh;
}
.globe-wrapper{
  width: 70vw;
  height: 70vw;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate3d(-50%, 30%, 0);
  border-radius: 50%;
  transition: all 1s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-gauge-svg {
  position: absolute;
  width: 91%;
  height: 91%;
}

.button-wrapper {
  position: absolute;
  bottom: 0px;
  left: 50%;
  bottom: 10%;
  transform: translate3d(-50%, 0, 0);
}

.close-wrapper {
  position: absolute;
  right: 10%;
  cursor: pointer;
  display: none;
}
.close-wrapper span {
  font-size: 30px;
}


#scrolling-wrapper-mobile {
  position: absolute;
  inset: 0;
  overflow-y: scroll;
  clip-path: polygon(0 10%, 90% 10%, 90% 0, 100% 0, 100% 100%, 90% 100%, 90% 70%, 0 70%)
}
#scrolling-content-mobile {
  position: relative;
  top: 0;
  padding-top: 50px;
  width: 100%;
}

#scrolling-area-mobile {
  padding: 10vh 40vw 0 2vw;
}

.copy-section-mobile {
  position: relative;
  width: 100%;
  min-height: 50vh;
  margin-bottom: 150px;
}

.copy-section-mobile h1 {
  margin: 32px 0;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: -0.1vw;
  line-height: 1em;
  color: #8a0e51;
}

.copy-section-mobile p {
  margin: 30px 0;
  letter-spacing: 0.02em;
  font-weight: 300;
  line-height: 2em;
  color: #050505;
}

.copy-section-mobile div {
  display: flex;
  align-items: center;
}

.copy-section-mobile div h1 {
  color: black;
}

.copy-section-mobile div .emdash {
  display: block;
  width: 6vw;
  height: 3px;
  background: rgb(0, 0, 0);
}
#page-number {
  position: absolute;
  top: 10%;
  right: 10px;
}
#page-number h1 {
  font-size: 40px;
}
#tooltip{
  position: absolute;
  background: rgba(255, 255, 255, .5);
  padding: 1rem;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  transform: translate3d(-50%, 0, 0);
  border-radius: 3px;
}

#tooltip h1 {
    font-size: 30px;
    white-space: nowrap;
}

#tooltip h2 {
  font-size: 20px;
}